body{
    font-size: 12px;
    background-color: #eeeeee;
}
.container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #1890ff;
}
 /* 清除浮动 */
 .clearfix:after{
     content: "";
     height: 0;
     clear: both;
     display: block;
     visibility: hidden;
 }
 .clearfix{
     *zoom: 1;
 }
 .col-1{
     width: 208px;
 }
 .col-4{
     width: 862px;
 }
 .col-space{
     margin-right: 6px;
 }