/* 顶部
---------------------------------------------------------------- */
.top{
    height:30px;  
   background-color: #f3f3f3;
}
.top .container{
 line-height: 30px ;
   
}
.top .user-infor{
    float: left;
}
.top .nav-list{
    float: right;
}
.top .nav-list .nav-itme{
    float: left;
    margin-right: 18px;
    padding: 0 6px;
    box-sizing: border-box;
}
.top .nav-list .icon-gouwuche{
    font-size: 12px;
}
.top .nav-list .nav-itme:hover{
    background-color: #fff;

}

/* 头部搜索
---------------------------------------------------------------- */
.sur{
    background-color: #fff;
    border-bottom: 1px solid #52c41a;
  
}
.sur .container{
    height: 110px;
    /* background-color: green; */
}
.sur .logo{
    height: 110px;
    float: left;
    line-height: 110px;
    /* background-color: red; */
}
.sur .logo a{
    font-size: 28px;
    color: #52c41a;
    font-weight: bold;
}
.sur .search-wrap{
    height: 110px;
    /* background-color: bisque; */
    float: left;
}
.sur .search-wrap .search-input{
    width: 414px;
    height: 42px;
    box-sizing: border-box;
    border: 2px solid #52c41a;
    outline: none;
    font-size: 14px;
    padding-left: 10px;
    float: left;
}
.sur .search-wrap .search-but{
    width: 100px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background-color: #52c41a;
    float: left;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.sur .search-wrap .search-but:hover{
    opacity: 0.7;
}
.sur .search-wrap .nav-itme{
    float: left;
    font-size: 16px;
    font-weight: 200;
    margin-right: 40px;
    
}
.sur .search-wrap .nav-itme .active{
    color:#52c41a ;
}
.sur .search-wrap .search-box{
    margin-top: 18px;   
}
.sur .search-wrap .nav-list{
    margin-top: 22px;
}
/* 商品详情
---------------------------------------------------------------- */
.title .container{
    padding-top: 20px;
    /* height: 107px; */
    background-color: #eeeeee;
}
.title .container .link{
    line-height: 87px;
    font-size: 18px;
    color: #333;
    float: left;
}
/* 商品样式
---------------------------------------------------------------- */
.product .container .main-img img{
    height: 551px;
    width: 548px;
    float: left;
    margin-right: 40px;
}
.product .container .product-name{
    font-size: 22px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 27px;
    box-sizing: border-box;
}
.product .container .product-description{
    font-size: 17px;
    color: #858585;
    margin-bottom: 42px;
}
.product .container .product-info-item{
    font-size: 17px;
    margin-bottom: 42px;
}
.product .container .product-info-item .label{
    color: #858585;
}
.product .container .product-price{
    color: red;
}
.product .container .color-item{
    border: 1px solid  #52c41a;
    padding: 10px 10px;
    margin-right: 10px;
    cursor: pointer;
}
.product .container  .product-info-item  .count-input{
    width: 51px;
    height: 39px;
    border: 1px solid #7a7a7a;
    text-align: center;
}
.product .container  .product-info-item  .but{
    position: relative;
}
.product .container  .product-info-item  .plus{
    font-size: 10px;
    position: absolute;
    left: 688px;
    top: -40px;
    cursor: pointer;
    color: #595959;
}
.product .container  .product-info-item   .minus{
    font-size: 10px;
    position: absolute;
    left: 688px;
    bottom: 3px;
    cursor: pointer;
    color: #595959;
}
.product .container .add-cart{
    width: 120px;
    height: 40px;
    background-color:#52c41a ;
    float: left;
    margin-bottom: 53px;
}
.product .container .add-cart-btn{
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 40px;
    padding: 0 20px;
}
.product  .product-img .img{
    float: left;
    margin-bottom: 24px;
    margin-top: 13px;
}

.product  .product-img img{
    width: 100px;
    height: 100px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    margin-right: 12px;
    box-sizing: border-box;

}
/* 结尾
---------------------------------------------------------------- */

.end .container{
    height: 327px;
    background-color:#eeeeee ;
}
.end .container .spxq{
    height: 50px;
    border-bottom: 1px solid #52c41a;
    background-color: #dddddd;
}
.end .container .spxq .list-sp{
    height: 50px;
    width: 125px;
    background-color: #52c41a;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}
.end .container .incl-tab{
    margin-top: 20px;
    margin-left: 20px;
}

/* 底部
---------------------------------------------------------------- */
.footer{
    padding-bottom: 50px;
     background-color:#2f2f2f;
 }
 .footer .promise{
     padding:  50px 40px;
     border-bottom: 1px solid #3d3d3d;
 }
 .footer .promise .icon{
     display: inline-block;
     font-size: 18px;
     color: #fff;
     height: 36px;
     line-height: 36px;
     background-image: url(../mag/us-icon.png);
     background-repeat: no-repeat;
     padding-left: 40px;
 }
 .footer .promise .icon1{
     margin-right: 210px;
 }
 .footer .promise .icon2{
     margin-right: 210px;
     background-position: 0 -44px;
     padding-left: 56px;
 }
 .footer .promise .icon3{
     background-position: 0 -82px;
 }
 .footer .links{
     text-align: center;
      padding: 10px 0;
 }
 .footer .links a{
     color: #888;
     padding: 0 10px;
 }
 .footer  .copy{
     text-align: center;
     color: #888;
 }